
.rl {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
@media (min-width: 700px) {
  .pag {
    display: flex;
    justify-content: space-around;
    width: 700px;
  }
}
@media(max-width: 700px){
  .pag{
    display: none;
  }
}
.menuIcon {
  font-size: 30px;
}
small {
  font-size: 12px;
}
nav {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  top: 0;
  background:  #212529;
  color: white;
}
.inside-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}
.me {
  font-size: 30px;
}
.phoneMenu {
  display: flex;
  flex-direction: column;
}
.dark .phoneMenu{
  background: #212529;
  z-index: 9999;
}
.light .phoneMenu{
  background: white;
}
.light .inside-nav{
  color:  #212529;
  background: white !important;
}
.light .rl{
  color: #212529;
}